.single-post {
    margin: 0 0 30px;
}

.single-post .featured-image {
    width: 100%;
}

.single-post .featured-image img {
    width: 100%;
}

.single-post .post-title {
    margin: 40px 0;
    font-size: 2em;
    font-weight: 500;
}

.single-post .post-title a {
    color: #000;
    text-decoration: none;
}

.single-post .post-meta {
    margin: 0 0 30px;
    font-size: 0.8em;
    font-style: italic;
}

.single-post .post-content p {
    margin-bottom: 1.5rem;
}

.single-post .comments-list {
    margin: 100px auto 0;
}