@import url('https://fonts.googleapis.com/css?family=Sarabun:400,500|Pacifico');

body {
    font-family: Sarabun, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.page-title {
    font-size: 2.5em;
    margin: 30px 0;
}

#site-footer {
    margin: 8em 0 0;
    text-align: center;
}