.posts-list {
    margin: 30px 0;
}

.posts-list .post {
    margin: 50px 0;
}

.posts-list .featured-image,
.posts-list .featured-image img {
    width: 100%;
}

.posts-list .post-title {
    margin: 30px 0;
    font-size: 2em;
    font-weight: 500;
}

.posts-list .post-title a {
    color: #000;
    text-decoration: none;
}

.posts-list .post-meta {
    margin: 0 0 20px;
    font-size: 0.8em;
    font-style: italic;
}

/*= Bootstrap
============================*/
.page-link {
    color: #000;
}

.page-item.active .page-link {
    background-color: #000;
    border-color: #000;
}